@use'../custom'as*;

.display-2{
    margin-bottom: 1rem;
    font-family: 'Amiri',serif;
    &--intro{
        display: inline-block;
        font-weight: 700;
        font-family: 'Amiri',serif;
    }
    &--description{
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;

        @include media-breakpoint-up(lg){
            font-size: 1.4rem;
            display: inline-block;
        }
    }
}
.display-3{
    font-family: 'Amiri',serif;

    &--title{
        font-size: 1.8rem;
        font-weight: 600;
        font-family: 'Amiri',serif;
        display: inline-block;
        background-image: linear-gradient(to left, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }
}
//Border
.border-left{
    border-left: 0.1rem solid $gray-300;
    height: 100%;
}
// heading line
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

//gradient bg
.gradient {
    background: linear-gradient(to left, rgba($primary, 0.95), rgba($secondary, 0.95));
}